params {
    data = "data/"
    results = "results/"

    // PREPARE_ID
    prepare_id_method = "prepare-id-split-all"

    // TRIM_READS
    trim_reads_adapters = "usr/local/share/trimmomatic-0.33-1/adapters/TruSeq3-PE-2.fa"
    trim_reads_illuminaclip = "2:30:10:8:true"
    trim_reads_leading = "20"
    trim_reads_trailing = "20"
    trim_reads_slidingwindow = "5:25"
    trim_reads_minlen = "75"
}

docker {
    enabled = true
}

process.errorStrategy = 'ignore'